.inputSearch{
    position: absolute;
    margin-left: -2%;
    /* margin-top: 4.3px; */
    height: 28px;
    width: 100px;
    border-radius: 50px;
    border: none;
    transition: 1s;        
}
.inputSearch:hover{
    position: absolute;
    margin-left: -9%;
    /* margin-top: 4px; */
    height: 28px;
    width: 180px;
    border:none;
    border-radius: 50px;
    transition: 1s;
}
.inputSearch:focus{
    position: absolute;
    margin-left: -9%;
    height: 28px;
    width: 180px;
    border:none;
    border-radius: 50px;
    transition: 1s;
}

.btnSearch{
    position: absolute;
    background: #fff;   
     margin-left: 2%;
    height: 28px;
    border-radius: 50px;
    width: 41px;
    font-size: 9px;
    border: none;
}

.btnSearch:hover{
    background: #689dff;
    color: rgb(255, 255, 255);
    /* margin-left: 45%; */
    box-shadow: 0 0 100px #ffffff; 
    transition: 0.5s;
}

